@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --light-bg: #E2E8F0;
  --dark-bg: #18181B;
  --primary-color: #22C55E;
}

/* Scroll Bar */
/* width */
.ScrollBar::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
.ScrollBar::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
.ScrollBar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}
  
/* Handle on hover */
.ScrollBar::-webkit-scrollbar-thumb:hover {
    background: var(--dark-bg);
}
.dark .ScrollBar::-webkit-scrollbar-thumb:hover {
    background: var(--light-bg);
}